<!-- .blog -->
<div id="blog" class="content_2">
	<h1 class="h-bloc">About e-lab innovations</h1><br> 
	<div class="col-md-12">
		<div class="row">

			<div class="col-lg-12">
        		<div class="row" id="contact-user">
            		<div class="col-md-5">
                		<div class="contact-info">
                    		<div class="title_content" style="float: none;">
                        		<div class="text_content">e-lab innovations</div>
                        		<div class="clear"></div>
                    		</div>
                    	</div>
                    </div>
            	</div>
            </div>
            
		</div>
	</div>
</div>