<div id="mainModal" class="modal{% if include.showOnExit %} exit{% endif %}{% if include.closed %} closed{% endif %}">
    <div class="window">
        <svg class="close">
            <use xlink:href="#icon-close"></use>
        </svg>
        <div class="header">
            <h2>e-lab innovations</h2>
            <p>Learn | Innovate | Share</p>
        </div>
        <div class="content" style="text-align: center;">
            <img src="/assets/img/uploads/mask.png" style="width: 30%; height: auto;">
            <h1>Stay Safe Dear Friends..</h1>
            <ol>
                <li><b>STAY</b> home as much as you can</li>
                <li><b>KEEP</b> a safe distance</li>
                <li><b>Wash</b> hands often</li>
                <li><b>COVER</b> your cough</li>
            </ol>
            
            {% assign mainModalFile = site.contents | where: "name", "main-modal" | first %}
            {% if mainModalFile %}
              {% mainModalFile.name %}
            {% endif %}
            <a href='https://pngtree.com/so/corona-cartoon'><sup>corona cartoon png from pngtree.com</sup></a>
        </div>
    </div>
    <div class="mask"></div>
</div>

<script type="text/javascript">
  let showMainModal = sessionStorage.getItem("showMainModal")==="false"?false:true;
  sessionStorage.setItem("showMainModal", false);
  if(!showMainModal) {
    document.querySelector("#mainModal").classList.add("closed");
  }
</script>