<div class="modal{% if include.showOnExit %} exit{% endif %}{% if include.closed %} closed{% endif %}">
    <div class="window">
        <svg class="close">
            <use xlink:href="#icon-close"></use>
        </svg>
        <div class="header">
            <h2>e-lab innovations</h2>
            <p>Learn | Innovate | Share</p>
        </div>
        <div class="content">
            <img src="/assets/img/uploads/mask.png">
            <h1>Stay Safe Dear Friends..</h1>
            <ol>
                <li><string>STAY</string> home as much as you can</li>
                <li><string>KEEP</string> a safe distance</li>
                <li><string>Wash</string> hands often</li>
                <li><string>COVER</string> your cough</li>
            </ol>
            
            
            <a href='https://pngtree.com/so/corona-cartoon'><sup>corona cartoon png from pngtree.com</sup></a>
        </div>
    </div>
    <div class="mask"></div>
</div>
