<!-- Add your newsletter subscription form here -->

<!--<div class="contact-form">-->
<!--  <button id="push-button" disabled>Subscribe</button>-->
<!--</div>-->

<div class="container">
  <div class="contact-form">
    <fieldset>
        <input type="text" name="email" placeholder="{{ site.translations.contact.placeholders.email | default: 'Your email' }}" v-validate="'required|email'"
               :class="{ 'has-error': errors.has('email') }">
        <span v-if="errors.has('email')" v-cloak>${ errors.first('email') }</span>

        <span v-if="errors.has('message')" v-cloak>${ errors.first('message') }</span>

        <button type="submit" id="push-button" disabled>Subscribe</button>
      </fieldset>
  </div>

</div>